
<app-header></app-header>
<div class="container">

    <h1 style="text-align: center; margin: 50px; padding: 20;">Noćni provod</h1>

    <div class="row">

        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="img-container">
                    <img src="/gallery-img/noc1.png" alt="slika nije ucitana" class="image">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="img-container">
                    <img src="/gallery-img/noc2.png" alt="slika nije ucitana" class="image">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="img-container">
                    <img src="/gallery-img/noc3.png" alt="slika nije ucitana" class="image">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="img-container">
                    <img src="/gallery-img/noc4.png" alt="slika nije ucitana" class="image">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="img-container">
                    <img src="/gallery-img/noc5.png" alt="slika nije ucitana" class="image">
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail">
                <div class="img-container">
                    <img src="/gallery-img/noc6.png" alt="slika nije ucitana" class="image">
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>