img{
    align-items: center;
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#about{
    font-family: montserrat;
    letter-spacing: 0.5px;
    font-size: 30px;
}

.box{
    
}