<div class="box3 bg-dark">
    <section id="about" class="about-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img">
                        <img src="bum3.png" alt="slika nije ucitana" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <div class="about-text text-white" style="">
                        <h2 style="font-size: 27px;">Dobrodošli u naš diskont bar, mesto gde se susreću vrhunska pića i prijatna atmosfera. Smešteni na jedinstvenoj lokaciji, stvaramo ambijent savršen za opuštanje i uživanje u dobroj muzici. Tokom radnih dana, nudimo vam priliku da se opustite uz lagane ritmove i osvežavajuće napitke, dok vikendom dižemo tempo uz energičnu elektronsku muziku.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>    

    <section id="about" class="about-section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <div class="about-img">
                        <img src="bum4.png" alt="slika nije ucitana" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-12 ps-lg-5 mt-md-5">
                    <div class="about-text text-white" >
                        <h2 style="font-size: 27px;">Naša ponuda je pažljivo odabrana kako bi zadovoljila svačiji ukus, od ljubitelja piva do onih koji traže savršeno vino ili bezalkoholni napitak. Bilo da ste tu da se opustite posle dugog dana ili da uživate u noćnom provodu, naš diskont bar je pravo mesto za vas. </h2>
                        <h1 style="font-size: 30px; margin-top: 5px;">Čekamo vas!</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>    
</div>


