<app-header></app-header>>
<!-- <div class="container-fluid">
    <form class="mx-auto">
        <h4 class="text-center">Login</h4>
        <div class="mb-3 mt-5">
          <label for="exampleInputEmail1" class="form-label" id="korisnicko">Korisničko ime</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label" id="lozinka">Lozinka</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
          <div id="emailHelp" class="form-text mt-3">Zaboravili ste lozinku?</div>
        </div>
        <button type="submit" class="btn btn-primary mt-4" id="loginButton">Uloguj se</button>
      </form>
</div> -->

  <div class="container-fluid">
    <form (ngSubmit)="onLogin()" class="mx-auto">
      <h4 class="text-center">Login</h4>
      <div class="mb-3 mt-5">
        <label for="korisnicko" class="form-label" id="korisnicko">Korisničko ime</label>
        <input type="text" class="form-control" id="korisnicko" [(ngModel)]="korisnicko" name="korisnicko" required>
      </div>
      <div class="mb-3">
        <label for="lozinka" class="form-label" id="lozinka">Lozinka</label>
        <input type="lozinka" class="form-control" id="lozinka" [(ngModel)]="lozinka" name="lozinka" required>
      </div>
      <button type="submit" class="btn btn-primary mt-4" id="loginButton">Uloguj se</button>
    </form>
  </div>


<app-footer></app-footer>