
<div class="nav-item mb-lg-0 " style="margin-top: 0px; margin-left: 7px;">
    <!-- <a  type="button" class="btn btn-dark btn-sm right_header" [routerLink]="'/'">Izloguj se</a> -->
    <a class="btn btnt btn-dark btn-lg" [routerLink]="'/login'">
      <span class="glyphicon glyphicon-log-out"></span> Izloguj se
    </a>
</div>

<div class="container"> 

    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
        <a type="button" class="btn bt btn-success mb-2" [routerLink]="'/menadzer-front/lager'">Pregled lagera</a>
        <!-- <a type="button" class="btn bt btn-primary mb-2" [routerLink]="'menadzer-front/lager'">Pregled lagera</a> -->
        <a type="button" class="btn bt btn-success mb-2" [routerLink]="'/menadzer-front/narudzbine'">Pregled svih narudžbina</a>
        <!-- <a type="button" class="btn bt btn-primary mb-2" [routerLink]="'menadzer-front/narudzbine'">Pregled svih narudžbina</a> -->
        <a type="button" class="btn bt btn-success mb-2" [routerLink]="'/menadzer-front/promena-cene'">Promena cena</a>
        <!-- <a type="button" class="btn bt btn-primary mb-2" [routerLink]="'menadzer-front/narudzbine'">Promena cene</a> -->
        <a type="button" class="btn bt btn-success mb-5" [routerLink]="'/menadzer-front/novo-pice'">Dodavanje novog pića</a>
        <!-- <a type="button" class="btn bt btn-primary mb-5" [routerLink]="'menadzer-front/novo-pice'">Dodavanje novog piće</a> -->
        
    </div>

</div>
